table,
td {
    border: 0px solid #222;
}

thead,
tfoot {
    background-color: #999;
    color: #000000;
}

td,
th {
    border: 0px solid rgb(190, 190, 190);
    padding: 5px;
}

td {
    text-align: center;
}

td {
    background-color: #555555;
    color: #FFFFFF;
 

}


tr:nth-child(even) {
    background-color: #aaa;
}

th[scope="row"] {
    background-color: #EEEEEE;
}

a[href^="https"]::before {
  
}


li {
  margin-bottom: .5rem;
}